header .navbar {
    display: none;
}

header h1 {
    font-size: 1.5rem;
}

.header-page {
    justify-content: center;
}

.titles-home {
    width: 90%;
}

.home-page,
.home-page-2{
    height: 800px;
}
.content-home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#pacman{
    margin: 2rem  0rem 0rem 2.5rem;
}
.home-page img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.home-page-2 img {
    width: 80%;
}

.titles-home img{
    object-fit: contain;
    height: 80px;
    width: 10%;
}

.form-content{
    flex-direction: column;
}

.home-page-3 {
    height: 1000px;
}

footer {
    height: 120px;
}

.content-fot h6 {
    font-size: 0.6rem;
}
.content-fot h5 {
    font-size: 0.7rem;
}
.content-fot h4 {
    font-size: 0.9rem;
}