header .navbar {
    display: none;
}
.header-page {
    justify-content: center;
}
.home-page,
.home-page-2{
    height: 800px;
}
.content-home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#pacman{
    margin: 2rem  0rem 0rem 4rem;
}
.home-page img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.home-page-2 img {
    width: 80%;
}

.titles-home img{
    object-fit: contain;
    height: 80px;
    width: 10%;
}

.form-content{
    flex-direction: column;
}

.home-page-3 {
    height: 1000px;
}