header .navbar {
    margin: 0.2rem;
    padding: 0.1rem;
}

header li {
    font-size: 14px;
}

.titles-home h2{
    font-size: 1rem;
}

.titles-home p{
    font-size: 0.8rem;
}

.home-page img,
.home-page-2 img {
    width: 90%;
    height: 400px;
    object-fit: cover;
}

.titles-home img{
    object-fit: contain;
    height: 80px;
    width: 15%;
}